<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Student Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>List of Students</h2>

  <table border="1" width="100%" style="border-collapse: collapse; text-align: center">
    <thead style="background-color: #e0e0e0">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Year</th>
        <th>Age</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
        <td [style.color]="student.status === 'Active' ? 'green' : 'red'">{{ student.status }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
